{% extends 'base.html' %}
{% block title %}关于我们{% endblock %}
{% block head_seo %}
    <meta name="keywords" content="关于Janusec"/>
    <meta name="description"
          content="Janusec（雅努斯克）专注于企业安全管理解决方案。"/>
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-sm-9">
        <h3>关于我们</h3>
        <hr>
        <p>
            Janusec，是Janus（雅努斯）和Security（安全）两个单词的组合。<br/>
            其中Janus（雅努斯）是罗马人的门神（天宫的守护神），也是英语单词"January（一月）"的词根。<br/>
            Janusec寓意为企业安全的守护神。
        </p>
        <p>
            Janusec提供的SDL SaaS解决方案，为IT产品（业务网站、OA系统、在线服务、移动APP、PC客户端软件）提供全生命周期的安全管控，从源头开始执行安全控制，贯穿产品生命周期的各个阶段（需求阶段、方案设计阶段、开发阶段、测试阶段、发布阶段、运维阶段等），协助企业最大限度的降低安全风险。
            <br/><br/>
            Janusec SDL SaaS提供了安全开发流程（含项目审批流程和任务协作流程）、安全标准与规范、安全自检Checklist等服务，同时可以与业界的安全产品与工具配合使用，共同为客户的产品安全保驾护航。
        </p>

        <div class="col-sm-offset-1">
            <img src="/static/images/qrcode.jpg" alt="微信公众号：网络安全生命周期" title="微信公众号：网络安全生命周期" />
            <div>
                扫描关注微信公众号: Security_SDL<br/>
                【网络安全生命周期】<br/>
                不定期网络安全体系建设实践文章推送~
            </div>
            <br/>
        </div>

        <p>
            联系方式：<b>support</b>@<b>janusec.com</b>
            <br/>
            QQ群： 425856896 （安全流程SDL）
            <br/>
            新浪微博：<a href="http://weibo.com/janusec">@Janusec</a>
            <br/>
            SDL SaaS: <a href="http://saas.janusec.com/" title="SDL SaaS">http://saas.janusec.com/</a>
        </p>
    </div>
    <div class="col-sm-3"></div>
    </div>
{% endblock %}
