{% extends 'base.html' %}
{% block title %}Debug{% endblock %}
{% block body %}
<h1>Debug</h1>
<table class="table table-bordered">
<tr>
    <td>功能</td>
    <td class="text-center">基本服务</td>
    <td class="text-center">增值服务</td>
</tr>
<tr>
    <td>价格</td>
    <td class="text-center">免费</td>
    <td class="text-center">15元/人/月</td>
</tr>
<tr>
    <td>项目管理</td>
    <td class="text-center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></td>
    <td class="text-center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></td>
</tr>
<tr>
    <td>任务管理</td>
    <td class="text-center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></td>
    <td class="text-center"><span class="glyphicon glyphicon-ok" style="color: #00FF00;"></span></td>
</tr>
<tr>
    <td>团队数量</td>
    <td class="text-center">1个（限15人以内）</td>
    <td class="text-center">20个</td>
</tr>
<tr>
    <td>项目数量</td>
    <td class="text-center">10个/年</td>
    <td class="text-center">200个/年</td>
</tr>
<tr>
    <td>任务数量</td>
    <td class="text-center">500个/年</td>
    <td class="text-center">10000个/年</td>
</tr>
<tr>
    <td colspan="3">如需企业定制、咨询服务、现场培训，请联系<b>support</b>@<b>janusec.com</b></td>
</tr>
</table>
{% endblock %}
