{% extends 'base.html' %}
{% block title %}FAQ{% endblock %}
{% block body %}

<h1 class="text-center">FAQ</h1>
<div class="well well-sm">
<h4>问：该项目管理平台的主要特色是什么？</h4>
 <p>
     答：这是一个以安全内控为特色的在线项目管理平台（SDL SaaS），它源于SDL方法论和国际/国内巨头公司的项目管理实践，经过了适当的裁剪和优化，以更好的适应IT类项目管理活动。
     SDL是从安全角度指导应用开发或产品引进的管理模式，从源头开始进行安全控制，通过规范的项目管理过程和KCP任务的引入，确保开发设计及部署过程中遵从安全标准规范，保障所交付产品在全生命周期过程中的安全性。
 </p>
</div>

<div class="well well-sm">
<h4>问：公司、团队、项目、任务的关系？</h4>
<p>
    答：公司依据公司邮箱所属的域名进行区分，如果邮箱域名不同，则不属于同一个公司；<br/>
    一个公司可以有多个团队，一般按照产品建立团队，也可以称之为产品团队；<br/>
    一个团队(Team)可以有多个项目(Project)，一般按产品（或功能模块）的版本进行立项；<br/>
    一个项目包含多个任务（Task）；<br/>
    一个任务(Task)可以属于一个项目，也可以单独存在；<br/>
    项目按照阶段进行划分，在一个项目阶段内，有不同的状态切换（工作状态与审批状态的切换），每个阶段都有明确的工作成果，阶段结束以本阶段的成果通过审查（或审批）为标志；<br/>
    任务没有阶段划分，只有状态的切换。</p>
</div>

<div class="well well-sm">
    <h4>问：该项目管理平台是否设置Scrum Master角色?</h4>
    <p>
        答：本平台主要是基于SDL和IT-CMMI（而不是基于Scrum）方法论进行设计的，未设置Scrum Master角色，但并不妨碍在项目的具体执行过程中实践Scrum方法。
    </p>
</div>

<div class="well well-sm">
<h4>问：使用项目管理流程如何提高效率？</h4>
<p>答：效率的降低主要来自于过长的流程，以及等待高层审批的时间，如果审批人经常出差，则流程上的状态无法得到及时的切换。<br/>
    流程经过适当的裁剪，以及将决策权下放，让大部分的审批环节都在项目组内部解决，比如简单的任务自审自批，可以大幅提高效率。
</p>
</div>

<div class="well well-sm">
<h4>问：是否支持手机访问？</h4>
<p>答：支持，可使用手机浏览器访问。
</p>
</div>
{% endblock %}
{% block script %}
<script>
    d3.select("#GuideTab").attr("class", "active");
</script>
{% endblock %}