{% extends 'base.html' %}
{% block title %}域名管理{% endblock %}
{% block body %}
<div class="row">
<div class="col-sm-9">
    <div>
    <div class="col-sm-3">
        <h2 style="display: inline">域名管理</h2>
    </div>
    <div class="col-sm-9">
        <form class="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="do" value="search">
        <div class="input-group">
            <input class="form-control" name="s" placeholder="输入域名开始检索">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">搜索</button>
            </span>
        </div>
        </form>

        <br/>
    </div>
    </div>


{% if result_domains %}
    <div class="row">
    <table class="table">
    <caption>检索结果：</caption>
    <tr>
        <td class="col-sm-2">域名</td>
        <td class="col-sm-5">IP</td>
    </tr>
    {% for domain in result_domains %}
        <tr>
            <td>
                <a href="#" onclick="ShowDomainInfo({{ domain.id }})">
                    {{ domain.name }}
                </a>
            </td>
            <td>{{ domain.ip }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endif %}

<div>

{% if domains %}
<div class="row">
<table class="table">
<caption>域名列表</caption>
<tr>
    <td class="col-sm-2">域名</td>
    <td class="col-sm-5">IP</td>
</tr>
{% for domain in domains.all %}
    <tr>
        <td>
            <a href="#" onclick="ShowDomainInfo({{ domain.id }})">
                {{ domain.name }}
            </a>
        </td>
        <td>{{ domain.ip }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endif %}

</div>



    <div>
        <br/>
        返回到<a href="/itsm">ITSM（IT服务管理）</a>
    </div>
</div>
<div class="col-sm-3">
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
         <input type="hidden" name="do" value="add">
        添加域名：<br/><br/>
        <input class="form-control" name="name" placeholder="请输入域名地址">
        <br/>
        <input class="form-control" name="ip" placeholder="请输入IP地址">
        <br/>
        <select class="form-control" name="category">
            <option value="INNER">内网业务IP地址</option>
            <option value="OUTER">外网业务IP地址</option>
            <option value="DMZ">DMZ业务IP地址</option>
            <option value="ADM">管理网IP地址</option>
            <option value="BAK">备份网IP地址</option>
            <option value="VPN">专网IP地址</option>
            <option value="OTHER">其它IP地址</option>
        </select>
        <br/>
        <button type="submit">
            添加
        </button>
    </form>
</div>
<div id="DomainModal" class="modal fade" role="dialog" aria-labelledby="DomainName" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                域名信息
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="DomainInfo" style="overflow-y: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
d3.select("#ITSMTab").attr("class", "active");
function ShowDomainInfo(domain_id) {
            $("#DomainInfo").load("/itsm/domain/" + domain_id);
            $("#DomainModal").modal();
        }
</script>
{% endblock %}