{% extends 'base.html' %}
{% block title %}术语{% endblock %}
{% block body %}

<h1 class="text-center">术语</h1>
<table class="table">
<thead>
    <tr>
        <th class="col-sm-2">术语</th>
        <th>说明</th>
    </tr>
</thead>
<tbody>
<tr>
    <td>项目</td>
    <td>项目是为创造独特的产品、服务或成果而进行的临时性工作。
    </td>
</tr>
<tr>
    <td>项目管理</td>
    <td>项目管理是将管理的知识、工具和技术运用于项目活动中，协调项目资源（人力/物力/预算等等），制定项目计划，监控项目执行，解决项目中的风险和问题，来达成项目目标。
    </td>
</tr>
<tr>
    <td>Sponsor</td>
    <td>项目赞助人，为项目提供资源（人力、物力、预算）的人，通常为管理层具有决策权的人，项目中的主要职责：为项目提供资源，授权项目经理使用组织资源以达成项目目标，审批项目变更，验收结果确认。<br/>
        精简安全内控项目，未启用此角色；应用开发类安全内控项目管理流程、外购产品实施类安全内控项目管理流程已启用。
    </td>
</tr>
<tr>
    <td>业务代表</td>
    <td>代表业务提出需求的人，确保交付的产品满足业务的需求。项目中的主要职责：审核项目的需求分析报告（或需求规格说明书）并在流程中进行确认。<br/>
        精简安全内控项目，未启用此角色；应用开发类安全内控项目管理流程、外购产品实施类安全内控项目管理流程已启用。
    </td>
</tr>
<tr>
    <td>主审人</td>
    <td>专家评审团（负责对方案设计的功能、性能、安全、集成、可维护性等进行把关）的第一负责人，项目中的职责：汇总各领域专家（含主审人自己）的意见，复核评审意见。
    <br/>精简安全内控项目，未启用此角色；应用开发类安全内控项目管理流程、外购产品实施类安全内控项目管理流程已启用。
    </td>
</tr>
<tr>
    <td>干系人/Stakeholder</td>
    <td>项目干系人是能够影响项目决策/活动/交付的人员或组织，或者会因为项目决策/活动/交付而受到影响的人员或组织。他们跟项目有利益关系，如职能管理人员、资源提供者、供方、合作方、客户/用户等。<br/>
        精简安全内控项目，未启用此角色；应用开发类安全内控项目管理流程、外购产品实施类安全内控项目管理流程已启用但属于可选角色（可以留空）。
    </td>
</tr>
<tr>
    <td>项目QA</td>
    <td>项目中负责质量保障（Quality Assurance）的人。<br/>
        主要职责：为项目的运作提供质量保障（从管理的角度审视项目是否遵循了相应的流程，是否执行了项目管理办公室所要求的任务），为团队提供项目流程辅导（项目管理平台的使用），审批项目阶段切换，一般由PMO（项目管理办公室）委派，兼职担任。
     <br/>
    </td>
</tr>
<tr>
    <td>项目QC</td>
    <td>项目中负责质量控制（Quality Control）的人，一般是从技术角度审视交付质量，发现产品在架构/方案、功能、性能、可维护性等各方面的缺陷，主要活动有同行评审、测试等。<br/>
    </td>
</tr>
<tr>
    <td>KCP</td>
    <td>关键控制点（Key Control Point），或关键检查点（Key Check Point），属流程中可选的重要任务节点，如果该节点未通过审核或者未正常完成，则不能进入下一阶段。常用的KCP节点有需求确认、方案评审、安全风险评估、测试报告审核等。</td>
</tr>
<tr>
    <td>DCP</td>
    <td>决策控制点（Decision Control Point），属流程中可选的但是非常重要的管理决策节点，一般立项、变更、验收，或者涉及到重大风险需要管理层决策的时候，添加DCP节点。</td>
</tr>
<tr>
    <td>TR</td>
    <td>技术评审（Technical Review），由专家团对项目的交付件（概要设计或方案设计、自检checklist、测试报告、部署实施方案）进行审核，对系统的功能、性能、安全、集成等特性进行把关。</td>
</tr>
<tr>
    <td>SDL</td>
    <td>即Security Development Lifecycle（安全开发周期），是从安全角度指导软件开发过程的管理模式。</td>
</tr>

</tbody>
 </table>
{% endblock %}
{% block script %}
<script>
    d3.select("#GuideTab").attr("class", "active");
</script>
{% endblock %}